.project-container {
    display: flex;
    overflow-x: hidden;
    cursor: pointer;
    .project-card {
        width: 200px;
        flex: 0 0 23%;
        .project-inner-card {
            margin: 15px 20px 8px;
            box-shadow: 0px 3px 6px #cbcaca;
            .project-card-header {
                background-color: #3e86b0;
                color: #fff;
                font-size: 15px;
                line-height: 15px;
                padding: 8px 5px 6px 25px;
                border-radius: 7px 7px 0 0;
                mat-icon {
                    float: right;
                    line-height: 12px;
                    font-size: 15px;
                }
            }
            .active-project {
                background-color: #eef3f7 !important;
            }
            .project-card-content {
                background-color: #fff;
                padding: 7px 20px;
                .content-row {
                    padding-bottom: 12px;
                    font-size: 20px;
                    vertical-align: 5px;
                    padding-right: 15px;
                    span {
                        font-size: 12px;
                    }
                    .proPictureContainer {
                        width: 34px;
                        height: 22px;
                        display: inline-block;
                        border-radius: 45%;
                        background-color: #3e86b0;
                        line-height: 22px;
                        overflow: hidden;
                        color: #fff;
                        text-align: center;
                        vertical-align: top;
                        font-size: 12px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .overlapImage {
                margin-left: -22px;
            }
        }
    }
}

.project-container:hover {
    overflow-x:auto;
}